<header>
    <app-nav></app-nav>
</header>
<section>
    <div class="container-fluid containerSetting mt-8">
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-left headfont">Your Currencies</h5>
                <p class="fontRequied">The currencies you've purchased are here </p>
            </div>
        </div>
    </div>
    <div class="container-fluid containerSetting">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled list-inline text-left">
                    <li class="list-inline-item">
                        <a class="btn-floating mx-1 btcCoin">
                            <img src="assets/icons/bitcoin.png" class="centerCoin" alt="logo">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1 ethCoin">
                            <img src="assets/icons/ethereum.png" class="centerCoin" alt="logo">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-1 bchCoin">
                            <img src="assets/icons/bitcoin.png" class="centerCoin" alt="logo">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-1 ltcCoin">
                            <img src="assets/icons/litecoin.png" class="centerCoin" alt="logo">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating mx-1 btcCoin">
                            <img src="assets/icons/bitcoin.png" class="centerCoin" alt="logo">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-tw mx-1 ethCoin">
                            <img src="assets/icons/ethereum.png" class="centerCoin" alt="logo">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-gplus mx-1 bchCoin">
                            <img src="assets/icons/bitcoin.png" class="centerCoin" alt="logo">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-li mx-1 ltcCoin">
                            <img src="assets/icons/litecoin.png" class="centerCoin" alt="logo">
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a class="btn-floating btn-1 btn-dribbble mx-1">
                            <i class="fa fa-plus faIconStyle" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <!-- Social buttons -->

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid containerSetting">
        <div class="row">
            <div class="col-md-2 col-sm-4">
                <div class="card1 btc">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/icons/bitcoin.png" class="rounded text-center" alt="logo">
                        </div>
                        <div class="col-md-10">
                            <p class="iconHeadFont">Bitcoin</p>
                            <p class="iconFont">$100.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="card1 eth">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/icons/ethereum.png" class="rounded text-center" alt="logo">
                        </div>
                        <div class="col-md-10">
                            <p class="iconHeadFont">Ethereum</p>
                            <p class="iconFont">$100.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="card1 bch">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/icons/bitcoin.png" class="rounded text-center" alt="logo">
                        </div>
                        <div class="col-md-10">
                            <p class="iconHeadFont">Bitcoin Cash</p>
                            <p class="iconFont">$100.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="card1 ltc">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/icons/litecoin.png" class="rounded text-center" alt="logo">
                        </div>
                        <div class="col-md-10">
                            <p class="iconHeadFont">Litecoin</p>
                            <p class="iconFont">$100.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="card1 btc">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/icons/bitcoin.png" class="rounded text-center" alt="logo">
                        </div>
                        <div class="col-md-10">
                            <p class="iconHeadFont">Bitcoin</p>
                            <p class="iconFont">$100.00</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="card1 eth">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="assets/icons/ethereum.png" class="rounded text-center" alt="logo">
                        </div>
                        <div class="col-md-10">
                            <p class="iconHeadFont">Ethereum</p>
                            <p class="iconFont">$100.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid containerSetting">
        <div class="row">
            <div class="col-md-3">
                <div class="card2">
                    <p class="text-left fontRequied mt-1">MARKET CAP</p>
                    <table class="table table1" *ngIf="crypto">
                        <thead>
                            <tr>
                                <th scope="col" class="tableFont">Coins</th>
                                <th scope="col" class="tableFont">Prices</th>
                                <th scope="col" class="tableFont textAlign">change(24h)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of crypto">
                                <td>{{ user.symbol}}</td>
                                <td>${{ user.price_usd}}</td>
                                <td [ngClass]="{'greenColor':user.percent_change_24h>0,'redColor':user.percent_change_24h<0}"
                                    class="textAlign">{{ user.percent_change_24h}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <p class="text-center"><a href="#">View all Market Cap</a></p>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card1 containerHeight1">
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid containerSetting">
        <div class="row">
            <div class="col-md-3">
                <div class="card2 containerHeight">
                    <p class="text-left fontRequied mt-1">MY CRYPTO PRICE</p>
                    <table class="table table-striped table1">
                        <thead>
                            <tr>
                                <th scope="col" class="tableFont">Coins</th>
                                <th scope="col" class="tableFont">Prices</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BTC</td>
                                <td>$7500</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>$245</td>
                            </tr>
                            <tr>
                                <td>BCH</td>
                                <td>$153</td>
                            </tr>
                            <tr>
                                <td>LTC</td>
                                <td>$53</td>
                            </tr>
                            <tr>
                                <td>BTC</td>
                                <td>$7500</td>
                            </tr>
                            <tr>
                                <td>ETH</td>
                                <td>$245</td>
                            </tr>
                            <tr>
                                <td>BCH</td>
                                <td>$153</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card2 containerHeight">
                    <p class="text-left fontRequied mt-1">TRANSFER COIN</p>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="mb-1 mt-3">From<span class="transferCoin1">Minimum Value:0.01 BTC</span></p>
                        </div>
                    </div>
                    <div class="input-group">

                        <div class="input-group-prepend">
                            <span>
                                <select class="browser-default custom-select  btcCoin">
                                    <option selected>BTC </option>
                                    <option value="1">ETH</option>
                                    <option value="2">LTC</option>
                                    <option value="3">BCH</option>
                                </select>
                            </span>
                        </div>
                        <div class="custom-file">
                            <input type="text" id="exampleForm2" class="form-control">
                        </div>
                    </div>
                    <p class="mb-1 mt-3">To</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span>
                                <select class="browser-default custom-select ethCoin">
                                    <option selected>ETH</option>
                                    <option value="1">ECH</option>
                                    <option value="2">LTC</option>
                                    <option value="3">BCH</option>
                                </select>
                            </span>
                        </div>
                        <div class="custom-file">
                            <input type="text" id="exampleForm2" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <p><button type="button" class="btn btn-primary btn-md mt-3">Continue</button>
                                <span class="transferCoin"> 1 BTC <i class="fa fa-exchange" aria-hidden="true"></i> 22
                                    ETH</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card2 containerHeight">
                    <p class="text-left fontRequied mt-1">WALLET ADDRESSES</p>
                    <p class="mb-0">Bitcoin Wallet Address</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 btcCoin"> <img src="assets/icons/btc.png" alt="logo"></span>
                        </div>
                        <div class="custom-file">
                            <input type="text" id="exampleForm2" class="form-control">
                        </div>
                        <div class="input-group-prepend" title="copy">
                            <span class="input-group-text mb-3"><i class="fa fa-files-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <p class="mb-0">Ethereum Wallet Address</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 ethCoin"><img src="assets/icons/eth.png" alt="logo"></span>
                        </div>
                        <div class="custom-file">
                            <input type="text" id="exampleForm2" class="form-control">
                        </div>
                        <div class="input-group-prepend" title="copy">
                            <span class="input-group-text mb-3"><i class="fa fa-files-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <p class="mb-0">Bitcoin cash Wallet Address</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 bchCoin"><img src="assets/icons/btc.png" alt="logo"></span>
                        </div>
                        <div class="custom-file">
                            <input type="text" id="exampleForm2" class="form-control">
                        </div>
                        <div class="input-group-prepend" title="copy">
                            <span class="input-group-text mb-3"><i class="fa fa-files-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>
                    <p class="mb-0">Litecoin Wallet Address</p>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text mb-3 ltcCoin"><img src="assets/icons/ltc.png" alt="logo"></span>
                        </div>
                        <div class="custom-file">
                            <input type="text" id="exampleForm2" class="form-control">
                        </div>
                        <div class="input-group-prepend" title="copy">
                            <span class="input-group-text mb-3"><i class="fa fa-files-o" aria-hidden="true"></i>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="card2 containerHeight">
                    <p class="text-left fontRequied mt-1">LATEST TRANSACTIONS</p>

                </div>
            </div>
        </div>
    </div>