<section class="backgroundSection2 pb-7">
    <div class="container">
        <div class="row" >
            <div class="col-md-2"></div>
            <div class="col-md-8" style="margin-top:34%;">
                <a href="/home"><img src="assets/images/logo.png"  style="margin-left: -2%;" alt="logo"></a>
                <h3 class="headerFont mt-3">IP  authrized.  </h3>
                <p class="textFont"> <span class="boldFont"></span><br>
                 </p>
                <p class="textFont">Continue with <span class="blueFont" routerLink="/login/"> Login</span></p>
                </div>
              
            <div class="col-md-2"></div>
        </div>
    </div>
</section>