
.pt-7{
    padding-top: 7rem!important;
}
.mb-7{
    margin-bottom: 64px;
}

.fontText{
   color: #4C555B;
   font-size: 14px;
}
.fonthead{
    color: #4C555B;
    font-size: 16px;
 }
 .fontheader{
    color: #313F4C;
 }
 .pb-7{
    padding-bottom: 5rem!important;
}
.backgroundInvestor{
    background:#F8FCFF;
}
.mt-force{
    margin-top:-7% !important;
}
.ptReq{
    padding: 0px 0px 0px 35px;
}
.ptReq1{
    padding: 0px 0px 0px 45px;
}
.paddingImg{
    padding: 0px 0px 15px 90px;
}