.fafa{
  color: #4285f4 !important;
  font-size: 27px;
  float: right;
  font-weight: 600;
  }
  .headfont2{
      color:#53BF00;
      font-size: 16px;
    }
    .headfont3{
      color:#EF0A0A;
      font-size: 16px;
    }

    .card2{
      border: 0 !important;
      font-weight: 400!important;
      background: #fff;
      padding: 15px 40px 15px 40px;
  }
  .back{
    background: #f2f2f2;
  }
  .btn1{
    box-shadow: none !important;
  }
  .mt-neg{
    margin-left: -1.4%;
  }
  .reqFloat{
    float: right;
    cursor: pointer;
  }
  .error {
    display: inline-block;
    font-size: 12px;
    float: left;
    color: red;
}
.pointerCursor{
  cursor: pointer;
}

.backgroundWhite{
background: #fff;
}
.form-control:focus{
  border-color: #1A73E8;
  box-shadow: none !important;
}
.selectPadding{
  background: #fff;
  padding: 10px 2px 7px 2px;
  border: 1px #1A73E8 solid;
  border-radius: 7px 7px 7px 7px;
}
.ulLi{
  position: absolute;
  z-index: 3;
  width: 94%;
  box-shadow: 0px 2px 7px 1px #c5c1c1;
  margin-top: -9%;
}
 li.liPadding:hover{
background: #eee;
}
.fafaFloat{
  float:right;
  font-size:21px;
  font-weight: 600;
  color:#1A73E8;
}
.selectMain{
  border: 1px solid #1A73E8;
  color:#1A73E8;
  border-radius: 4px 4px 4px 4px;
}
// .liPadding{
//   padding: 9px 0px 6px 20px;
// }
.backgroundColor{
  background:#fff;
}
.spanColor{
  color:#1A73E8 !important;
}
.backgroundNote{
  background: #F5F5F5;
}
.horizontal{
  border-top: 1px solid #707070;
}
.reqMargin{
  margin-bottom: 2px;;
 color:#434343;
}
.fontChange{
  font-weight:700;
}
// .activeBlue{
//   border: 1px solid #1A73E8; 
//   color:#1A73E8;
// }
.paddingImp{
  padding: 12px 40px 10px 40px !important;
}
.paddingImp2{
  padding: 10px 40px 1px 40px !important;
}
.zeroPadding{
  padding:0px;
}
.form-control:focus{
  border-color: #1A73E8;
  box-shadow: none !important;
}
.boxShadowRadius{
  border-radius: 10px 10px 10px 10px;
box-shadow: 0px 0px 6px 0px #dbd6d6;
}