<header>
    <app-nav></app-nav>
</header>
<section>
    <div class="container-fluid" style="background:#fff;">
        <div class="container">
            <div class="row">
                <div class="col-md-5 mt-9">
                    <p class="mb-1"> Estimated value</p>
                    <h6 class="headfont">$2567 USD</h6>

                </div>
                <div class="col-md-3 mt-9">
                    <p class="text-left mb-1"> Available Balance</p>
                    <h6 class="text-left headfont2">$2567 USD</h6>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2 mt-9">
                    <p class="text-left mb-1"> In Order</p>
                    <h6 class="text-left headfont3">$2567 USD</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container mt-3 mb-1">
        <div class="row mt-5 ">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <p class="headfonts">Payment Method</p>
                        <div class="card2">
                            <div class="container containerSetting mt-1 mb-1 white">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="defaultUncheckedx"
                                                checked>
                                            <label class="custom-control-label headreq" for="defaultUncheckedx">USD
                                                Wallet</label>
                                            <p class="mb-0 mt-1 ">Available Balance $0</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 mt-3">
                        <div class="card2">
                            <div class="container containerSetting mt-1 mb-1 white">
                                <div class="row">
                                    <div class="col-md-12 mt-3">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="defaultUnchecked"
                                                name="defaultExampleRadios">
                                            <label class="custom-control-label headfont" for="defaultUnchecked">Credit
                                                Card</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="defaultUnchecked2"
                                                name="defaultExampleRadios">
                                            <label class="custom-control-label headfont" for="defaultUnchecked2">Debit
                                                Card</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="defaultUnchecked3"
                                                name="defaultExampleRadios">
                                            <label class="custom-control-label headfont" for="defaultUnchecked3">Net
                                                Banking</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="defaultUnchecked4"
                                                name="defaultExampleRadios">
                                            <label class="custom-control-label headfont"
                                                for="defaultUnchecked4">E-Wallet</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mt-4">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" class="custom-control-input" id="defaultUnchecked5"
                                                name="defaultExampleRadios">
                                            <label class="custom-control-label headfont" for="defaultUnchecked5">Bank
                                                Transfer</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <p class="headfonts">Your Order</p>
                <div class="card2  white">
                    <p class="mb-0 mt-1 ">You are buying</p>
                    <p class="mb-0 mt-1 itemfonts">1.5 BTC = $4579.5</p>
                    <hr>
                    <p class="mb-0 mt-1 ">Current Price</p>
                    <p class="mb-0 mt-1 itemfonts">1 BTC = $3205</p>
                    <hr>
                    <p class="mb-0 mt-1 ">Total Amount to be paid</p>
                    <p class="mb-0 mt-1 itemMax">$4604.5</p>
                </div>
                <div class="feeCon">
                    <p class="mb-0 mt-1 itemSmall">Fee <a routerLink="#"><i class="fa fa-question-circle-o"
                                aria-hidden="true"></i></a>
                        <span class="floatRight">$25</span></p>
                </div>
                <div class="card2">
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</section>