.fafa{
    color: #4285f4 !important;
    font-size: 27px;
    float: right;
    font-weight: 600;
    }
    .headfont2{
        color:#53BF00;
        font-size: 16px;
      }
      .headfont3{
        color:#EF0A0A;
        font-size: 16px;
      }

      .card2{
        border: 0 !important;
        font-weight: 400!important;
        background: #fff;
        padding: 15px 40px 15px 40px;
    }
    .headfonts{
       color: #777777;
       font-size: 18px;
       font-weight: 600;
    }
    .headreq{
        color: #686868;
        font-size: 14px;
     }
    .itemfonts{
        color: #686868;
        font-size: 18px;
     }
     .itemMax{
        color: #686868;
        font-size: 22px;
     }
     .itemSmall{
        color: #686868;
        font-size: 14px;
     }
    .feeCon{
        background: #F8FBFF;
        padding: 10px 45px 10px 45px;
    }