.headfont2{
    color:#53BF00;
    font-size: 16px;
  }
  .headfont3{
    color:#EF0A0A;
    font-size: 16px;
  }
  .card2{
    border: 0 !important;
    font-weight: 400!important;
    background: #fff;
    padding: 15px 40px 15px 40px;
}
.headfonts{
   color: #777777;
   font-size: 18px;
   font-weight: 600;
}
.headreq{
    color: #686868;
    font-size: 14px;
 }
.itemfonts{
    color: #686868;
    font-size: 16px;
 }
 .itemMax{
    color: #686868;
    font-size: 22px;
 }
 .itemSmall{
    color: #686868;
    font-size: 14px;
 }
.feeCon{
    background: #F8FBFF;
    padding: 10px 45px 10px 45px;
}
.borderNeed{
 border: 1px solid #c8c8c8;
 padding: 3px 3px 3px 3px;
 border-radius: 6px;
}
.borderNotneeded{
    border: none !important;
}
.btc{
    padding-left: 8px;
  }
  .eth{
    padding-left: 8px;

  }
  .ethCoin{
    background: #313640;
    color:#fff;
  }
  .btcCoin{
    background: #F7931A;
    color:#fff;
  }
  .buttonMargin{
    margin-left: 35px;
  }
  .back{
    background-color:#fff !important;
    height: 10px !important;
    margin-top: -10px;
  }
  
  